# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

package-lock.json
yarn.lock
# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.test
.env.production
.env.local
.env.*

# Build output
dist/
build/
out/

# Prisma
# uncomment if using sqlite
# prisma/*.db
# prisma/*.db-journal

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Project planning
plan.md
